@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 60px;
    z-index: 95;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 20px 10%;
    font-size: 30px;
    z-index: 100;
}

input {
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
}

button {
    background-color: #9EB3B2;
    border: 2px solid transparent;
    text-align: center;
    border-radius: 3px;
    width: 70px;
    height: 22px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: inherit; /* Green */
    color: #9EB3B2;
    border: 2px solid #9EB3B2;
    cursor: crosshair;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
}

.ejercicio_5{
    width: 100%;
    height: 823px;
    padding: 250px;
    background-color: black;
    font-size: 20px;
    text-align: center;
}
.ejercicio_5 p{
    width: 35%;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    text-align: start;
}

.calculadora{
    padding-top: 10px;
    margin: 0 auto;
}

.calculadora button{
    height: 12%;
    border-radius: 20px;
    margin: 2px;
    font-size: 19px;
}

#diferent{
    background-color: #D6BB24;
}
#diferent:hover{
    background-color: inherit; /* Green */
    color: #D6BB24;
    border: 2px solid #D6BB24;
    cursor: crosshair;
}

.hidden{
    opacity: 0.0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}