@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 20px 10%;
    font-size: 30px;
}

input {
    font-size: 30px;
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
}

button {
    background-color: #9EB3B2;
    border: 2px solid transparent;
    text-align: center;
    width: 70px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: inherit;
    /* Green */
    color: #9EB3B2;
    border: 2px solid #9EB3B2;
    cursor: crosshair;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-size: 20px;
    text-align: center;
}

.text {
    width: 298px;
    border-bottom: 2px solid #fff;
    text-align: start;
}

.calculator {
    padding-top: 10px;
}

.calculator button {
    height: 12%;
    border-radius: 20px;
    margin: 2px;
    font-size: 19px;
}

#diferent {
    background-color: #D6BB24;
}

#diferent:hover {
    background-color: inherit;
    /* Green */
    color: #D6BB24;
    border: 2px solid #D6BB24;
    cursor: crosshair;
}

.hidden {
    opacity: 0.0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}